<!-->> @authors Nico Frischkorn Patrick Hahn

<-->
    <div class="background">
        <div class="search">
            <div class="input-group col-md-5 center">
                <input type="text" [ngModel]="searchValue" (ngModelChange)="searchTextChanged($event)" [ngModelOptions]="{standalone: true}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="material-icons">search</i>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Alle Rezepte</h2>

        <app-rezeptliste [rezepte]="rezeptListe | async"></app-rezeptliste>
    </div>