<!--
  Authors:
-->
<div class="background">
  <div class="search">
    <h1>Neues Rezept anlegen</h1>
  </div>
</div>

<form [formGroup]="recipeForm" novalidate (ngSubmit)="createRecipe()" class="container mt-5">
  <!--allgemeine infos-->
  <div>
    <!--RezeptTitel-->
    <div class="form-group">
      <label>Rezeptname</label>
      <input formControlName="name" class="form-control" type="text"/>
      <show-errors text="Rezeptname" path="name"></show-errors>
    </div>

    <!--Anzahl Personen-->
    <div class="form-group">
      <label>Anzahl Personen</label>
      <input formControlName="persons" class="form-control" type="number" min="1" max="1000">
      <show-errors text="Personenanzahl" path="persons"></show-errors>
    </div>

    <!--Schwierigkeit-->
    <div class="form-group">
      <label>Schwierigkeit</label>
      <input formControlName="difficulty" class="form-control" type="number" min="1" max="10">
      <show-errors text="Schwierigkeit" path="difficulty"></show-errors>
    </div>

    <!--Beschreibung-->
    <div class="form-group">
      <label>Kurzbeschreibung</label>
      <textarea formControlName="description" class="form-control" autosize></textarea>
      <show-errors text="Beschreibung" path="description"></show-errors>
    </div>

    <!--tags-->
    <div class="form-group">
      <label>Tags</label>
      <div formArrayName="tags">
        <div *ngFor="let tag of recipeFormTagArray.controls; let i = index; first as isFirst; last as isLast;"
             formGroupName="{{i}}" class="mb-2 mr-2">
          <!--anzeigen-->
          <div class="input-group" *ngIf="!isLast && recipeFormTagArray.controls.length > 1">
            <span class="form-control">{{tag.value.name}}</span>
            <span class="input-group-addon">
                <i class="fa fa-trash" (click)="removeTag(i)" aria-hidden="true"></i>
              </span>
          </div>
          <!--neu-->
          <div class="input-group" *ngIf="isLast || recipeFormTagArray.controls.length == 0">
            <input formControlName="name" class="form-control" type="text" placeholder="Tag hinzufügen"
                   (keydown.enter)="tag.valid && addTag()" [ngbTypeahead]="searchTag">
            <span class="input-group-addon">
                <i class="fa fa-check" aria-hidden="true" [hidden]="tag.valid"></i>
                <i class="fa fa-check" (click)="addTag()" aria-hidden="true" [hidden]="!tag.valid"></i>
            </span>
          </div>
          <show-errors text="Tag" path="tags.{{i}}.name"></show-errors>
        </div>
      </div>
      <show-errors text="Tags" path="tags"></show-errors>
    </div>

    <div class="form-group">
      <label>Zutaten</label>
      <div formArrayName="ingredients">
        <ul>
          <li *ngFor="let ingredient of recipeFormIngredientsArray.controls; let i = index;" class="mb-2">
            <div class="input-group" formGroupName="{{i}}">
              <span class="input-group-addon">{{ingredient.value.ingredientName}}</span>
              <input formControlName="amount" class="form-control" type="number" min="0"/>
              <span class="input-group-addon">{{ingredient.value.unitName}}</span>
              <span class="input-group-addon"><i class="fa fa-trash" (click)="removeIngredient(i)"></i></span>
            </div>
            <show-errors path="ingredients.{{i}}.amount" text="Menge"></show-errors>
          </li>
        </ul>
      </div>
      <input class="form-control" type="text" placeholder="Suche nach Zutat"
             [ngbTypeahead]="searchIngredient"
             [inputFormatter]="formatterIngredient"
             [resultFormatter]="formatterIngredient"
             (selectItem)="ingredientSelected($event)">
    </div>

    <div class="form-group">
      <label>Zubereitung</label>
      <ol formArrayName="prepSteps">
        <li *ngFor="let step of recipeFormPrepStepsArray.controls; let i = index;" formGroupName="{{i}}">
          <span>Schritt <i class="fa fa-trash pull-right" aria-hidden="true"
                           [hidden]="recipeFormPrepStepsArray.length <= 1" (click)="removePrepStep(i)"></i></span><br/>
          <div class="form-group">
            <label>Aufwand</label>
            <input formControlName="effort" class="form-control" type="number" min="0"/>
            <show-errors text="Aufwand" path="prepSteps.{{i}}.effort"></show-errors>
          </div>
          <div class="form-group">
            <label>Beschreibung</label>
            <textarea formControlName="instruction" class="form-control" autosize></textarea>
            <show-errors text="Beschreibung" path="prepSteps.{{i}}.instruction"></show-errors>
          </div>
        </li>
      </ol>
      <button class="btn btn-primary" type="button" (click)="addPrepStep()"
              [disabled]="!recipeFormPrepStepsArray.valid && recipeFormPrepStepsArray.length > 0">Schritt hinzufügen
      </button>
      <show-errors text="Zubereitung" path="prepSteps"></show-errors>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!recipeForm.valid || !recipeForm.dirty">Speichern</button>

  </div>

  <div class="clearfix"></div>
  <div class="margin-20">
    <pre>valid?: <br>{{recipeForm.valid | json}}</pre>
    <pre>{{recipeForm.value | json}}</pre>
  </div>
</form>
