<!--
 /** @author Team Chrocorg: Yoco Harrmann, Christian Werner, Georg Frey */
-->
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <!--Radiobuttons -->
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="rezeptsuche" id="rezeptenamen" [value]="1"
                 [(ngModel)]="option"> Suche nach
          Rezeptnamen
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="rezeptsuche" id="rezeptetag" [value]="2"
                 [(ngModel)]="option"> Suche nach Tag
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="rezeptsuche" id="rezeptekeyword" [value]="3"
                 [(ngModel)]="option"> Suche
          nach Keyword
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="rezeptsuche" id="rezeptezutat" [value]="4"
                 [(ngModel)]="option"> Suche nach
          Zutat
        </label>
      </div>

      <!--Suchleiste-->
      <div class="input-group col-md-5 center">
        <input type="text" placeholder="" [(ngModel)]="suchtext"/>
        <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="suchen()">
                  <i class="material-icons">search</i>
                </button>
              </span>
      </div>

      <!--      &lt;!&ndash;Ergebnisse der Suchanfrage&ndash;&gt;

              <div class="col-sm-6 col-md-4" *ngFor="let rezept of liste">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/rezept1.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title"><a routerLink="/rezeptansicht/{{rezept.id}}"> Rezeptname: {{rezept.name}} </a></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>

          </div>-->
      <app-rezeptliste></app-rezeptliste>
      <!--<app-rezeptliste [rezepte]="liste"></app-rezeptliste>-->

    </div>
  </div>
</div>
