<!--
 /** @author Team Chrocorg: Yoco Harrmann, Christian Werner, Georg Frey */
-->
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <!--Radiobuttons -->
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="rezeptsuche" id="rezeptenamen" [value]="1"
                 [(ngModel)]="option"> Suche nach Rezeptnamen
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="rezeptsuche" id="rezeptetag" [value]="2"
                 [(ngModel)]="option"> Suche nach Tag
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="rezeptsuche" id="rezeptekeyword" [value]="3"
                 [(ngModel)]="option"> Suche nach User
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="rezeptsuche" id="rezeptezutat" [value]="4"
                 [(ngModel)]="option"> Suche nach Zutat
        </label>
      </div>

      <!--Suchleiste-->
      <div class="input-group col-md-5 center">
        <input type="text" placeholder="" [(ngModel)]="suchtext"/>
        <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="suchen()">
                  <i class="material-icons">search</i>
                </button>
              </span>
      </div>

      <app-rezeptliste></app-rezeptliste>

    </div>
  </div>
</div>
