<!--
 /** @author Team Chrocorg: Yoco Harrmann, Christian Werner, Georg Frey */
-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--Suchleiste-->
      <div class="d-flex p-1 flex-row">
        <input class="p-2" type="text" placeholder="Carbonara" [(ngModel)]="suchtext" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" (click)="suchen()">
            <i class="material-icons">search</i>
          </button>
        </span>
      </div>

      <!--Radiobuttons -->
      <h4>Suche nach</h4>
      <div class="btn-group" data-toggle="buttons">
        <div *ngFor="let op of searchOptions;let idx=index" class="btn" [ngClass]="{ 'active':idx==option-1, 'btn-outline-primary':idx!=option-1, 'btn-primary':idx==option-1}"
          (click)="option=idx+1; suchen()">
          {{op}}</div>
      </div>
      <div class="mt-2">
        <app-rezeptliste></app-rezeptliste>
      </div>
    </div>
  </div>
</div>
