<!-->
@authors Nico Frischkorn @authors Armin Beck @authors Leandro Späth  @authors Patrick Hahn
<-->
  <div class="container-fluid">

    <div class="row d-flex flex-column p-5" style="height:60vh;background-image: url('/assets/home/background.jpg'); background-size:cover;">
      <h1 class="text-white text-center">Entdecke neue Rezepte</h1>
      <p class="text-center text-muted">Schnell, lecker und einfach</p>
      <div class="d-flex p-1 flex-row justify-content-center ">
        <input class="p-2" type="text" placeholder="Carbonara" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" [routerLink]="['/suche', {suchtext:suchtext,option:1}]">
            <i class="material-icons">search</i>
          </button>
        </span>
      </div>
    </div>

    <div class="column">
      <h2>Empfehlungen</h2>
      <button routerLink="/rezeptliste" class="btn btn-default pull-right">Mehr</button>
      <app-rezeptliste [rezepte]="BestRecipes"></app-rezeptliste>
    </div>
    <div class="column">
      <h2>Neue Rezepte</h2>
      <button routerLink="/rezeptliste" class="btn btn-default pull-right">Mehr</button>
      <app-rezeptliste [rezepte]="NewestRecipes"></app-rezeptliste>
    </div>
  </div>
