<div class="background">
  <div class="search">
      <h1>Entdecke neue Rezepte</h1>
      <p>Schnell, lecker und einfach</p>
      <div class="input-group col-md-12">
          <input type="text" class="  search-query form-control" placeholder="" />
          <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                        <i class="material-icons">search</i>
          </button>
          </span>
      </div>
  </div>
</div>
<div class="container">
  <h2>Empfehlungen</h2>
  <button routerLink="/rezeptliste" class="btn btn-default pull-right">Mehr</button>
  <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="../../assets/home/rezept1.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="../../assets/home/rezept1.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="../../assets/home/rezept1.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="container">
  <h2>Neue Rezepte</h2>
  <button routerLink="/rezeptliste" class="btn btn-default pull-right">Mehr</button>
  <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="../../assets/home/rezept1.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="../../assets/home/rezept1.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="../../assets/home/rezept1.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
  </div>
</div>