<!-->
@authors
Annika Schatz
Irina Eurich
Tobias Bloch

<-->
<div class="modal-header">
</div>
<div class="modal-body">
  <h4>Registrierung</h4>
  <div class="input-group" class="container">
    <span class="input-group-addon" id="basic-addon1" for="benutzername">Benutzername</span>
    <input type="text" class="form-control" name="username" id="benutzername" placeholder="Benutzername">
  </div>
  <br>
  <div class="input-group" class="container">
    <span class="input-group-addon" id="basic-addon1" for="email">E-Mail</span>
    <input type="email" class="form-control" name="email" id="email" placeholder="E-Mail">
  </div>
  <br>
  <div class="input-group" class="container">
    <span class="input-group-addon" id="basic-addon1" for="passwort1">Passwort</span>
    <input type="password" class="form-control" name="passwort1" id="passwort1" placeholder="Passwort">
    <input type="password" class="form-control" name="passwort2" id="passwort2" placeholder="Passwort wiederholen">
  </div>
  <br>

  <div class="container">
  <h5>Nutzungsbedingungen</h5>

  <div class="col-sm-10">
    <div class="form-check">
      <label class="form-check-label">
        <table class="table">
          <tbody>
          <tr>
            <th scope="col">        <input class="form-check-input" type="checkbox" name="nutzungsbedingungen" value="nutzungsbedingungen">
            </th>
            <th scope="col">Ich habe die <a href="https://de.wikipedia.org/wiki/Allgemeine_Gesch%C3%A4ftsbedingungen"
                                            target="_blank" rel="noopener"> &nbsp;Nutzungsbedingungen&nbsp;</a> gelesen
              und bin damit einverstanden.</th>
          </tr>
          </tbody>
        </table>

      </label>
    </div>

  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark" (click)="c('Close click')">Registrieren</button>
</div>
