<!--
@authors
Annika Schatz
Irina Eurich
Tobias Bloch
Endrit Çallaki
-->



    <!-- Modal Header -->
<div class="modal-header">
  <h4 class="modal-title">Registrierung</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

    <!-- Modal Body -->
    <div class="modal-body">


      <div class="form-group">
        <label for="benutzername">Benutzername</label>
        <input type="text" class="form-control" name="username" id="benutzername" [value]="user.username" placeholder="Max Mustermann">
      </div>

      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" class="form-control" name="email" id="email" [value]="user.email" placeholder="example@example.com">
      </div>

      <div class="form-group">
        <label for="passwort1">Passwort</label>
        <input type="password" class="form-control" name="passwort1" id="passwort1" [value]="user.pw" placeholder="start123">
        <br>
        <input type="password" class="form-control" name="passwort2" id="passwort2" [value]="user.pwRepeat" placeholder="start123">
      </div>
      <br>

      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="nutzungsbedingungen" value="nutzungsbedingungen">
          Ich habe die <a href="https://de.wikipedia.org/wiki/Allgemeine_Gesch%C3%A4ftsbedingungen"
                          target="_blank" rel="noopener"> &nbsp;Nutzungsbedingungen&nbsp;</a> gelesen
          und bin damit einverstanden.
        </label>
      </div>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-success btn-lg btn-block" (click)="register()"><b>Registrieren</b></button>
    </div>



