<!-- @author: André Berberich -->
<button class="btn btn-success" (click)="open(content)">Neu Zutat hinzufügen</button>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Neue Zutat hinzufügen</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="ingredient.name" type="text" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="unit">Einheit</label>
        <select [(ngModel)]="ingredient.unit" id="unit" name="unit" class="form-control">
          <option *ngFor="let u of unitKeys" [ngValue]="u" [selected]="u === 1">{{u | ingredientunit}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="kCalPerUnit">Kilokalorien pro Einheit</label>
        <input  type="number" [(ngModel)]="ingredient.kCalPerUnit" id="kCalPerUnit"  name="kCalPerUnit" placeholder="0" min="0" class="form-control"/>
      </div>  
      <div class="form-group">
        <label for="costPerUnit">Kosten pro Einheit</label>
        <input type="number" [(ngModel)]="ingredient.costPerUnit" id="costPerUnit" name="costPerUnit" placeholder="0.00" min="0.0" class="form-control"/>
      </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="c('Close click')">Abbrechen</button>
    <button type="button" class="btn btn-outline-dark" (click)="addNewIngredient()">Hinzufügen</button>
  </div>
</ng-template>
