/**
@authors
Nico Frischkorn 
@authors Armin Beck
@authors Leandro Späth
@authors Patrick Hahn
*/
/*
.navbar-top {
    z-index: 9999;
    background: rgba(0, 0, 0, 0.4);
    height: 60px;
}

.navbar-top img {
    height: 30px;
}

#header-img {
    height: 60px;
}*/