<!-->
@authors Nico Frischkorn
@authors Armin Beck 
@authors Leandro Späth 
@authors Patrick Hahn
<-->
  <nav class="navbar sticky-top navbar-dark bg-dark container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo_cookit5.png" height="30" class="" alt="">
    </a>

    <div class="text-white" *ngIf="isLoggedIn() | async">{{getName()}}
      <div class="btn btn-outline-danger text-white" *ngIf="isLoggedIn() | async " (click)="logout()">Logout</div>
    </div>
    <a class="btn btn-outline-success" *ngIf="!( isLoggedIn() | async )" routerLink="{{'/login'}}">
      Login
    </a>
  </nav>
