/**
@authors
Nico Frischkorn
Alexander Krieg
Theresa Reus
Patrick Eichert
Leandro Späth
*/

.main-image{
  height: 600px;
  margin-bottom: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  background: black;
  width: 100%;
}

.main-image img{
    object-fit: cover;
    height: 600px;
    width: 100%;
    opacity: 0.8;
}

.main-image .carousel{
  height: 600px;
}

h1 {
    color: #484848;
}

@media (max-width: 575px) {  /* For mobile  */
    .main-image{
        height: 600px;
    }
}

ul.comments {
  margin-left: 0px;
  padding-left: 0px;
}
.commentdetails p {
    color: #000;
}
.commentdetails .commentDeletion {
    position: absolute;
    right:5px;
    top: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25em;
    color: rgba(0, 0, 0, .125);
    font-weight: bold;
    cursor: pointer;
}
.commentdetails .commentDeletion:hover {
    color: #000;
}
ul.comments > li.card {
  margin-bottom: 15px;
  padding: 5px;
  position: relative;
  /* transition: box-shadow 0.15s ease-in-out; */
}
ul.comments > li.card:hover {
  /* box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3); */
}

.anzahlPortionen {
  min-width: 70px;
}
