<div class="row">
    <div class="main-image">
      <img src="{{currentRecipe.image}}">
    </div>
  </div>
<div class="container">
 
  <div class="row">
      
    <div class="col">


      <h1>{{currentRecipe.name}}</h1>

      <hr>

      <h3>Zutaten</h3>
      <div class="input-group col-5">
        <span class="input-group-addon">für</span>
        <input class="form-control" [(ngModel)]="personCount" type="number" value="4" min="1">
        <span class="input-group-addon">Personen</span>
      </div>

      <table class="table">
        <tr>
          <th class="text-right">Menge</th>
          <th>Zutat</th>
        </tr>
        <tr *ngFor="let i of currentRecipe.ingredients">
          <td class="text-right">{{i.amountPerPerson * personCount}} {{i.unit}}</td>
          <td>{{i.name}}</td>
        </tr>
      </table>

      <hr>

      <h3>Zubereitung</h3>
      <ol>
        <li *ngFor="let i of currentRecipe.instructions">{{i}}</li>
      </ol>
    </div>
    <div class="col">
      <div>
        <span>von {{currentRecipe.creatorName}}</span>
      </div>
      <div>
        <span class="badge badge-pill badge-primary mr-1" *ngFor="let tag of currentRecipe.tags">{{tag}}</span>
      </div>
      <span class="text-danger" *ngIf="currentRecipe.rating < 0">
        <i class="fa fa-thumbs-down" aria-hidden="true"></i> {{-currentRecipe.rating}}
      </span>
      <span *ngIf="currentRecipe.rating > 0" class=" text-success">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{currentRecipe.rating}}
      </span>
    </div>
  </div>
  <!-- 💩 Alexander Krieg -->
  <div class="commentdetails">
    <h3>Kommentare</h3>
    <div class="row mt-3" *ngIf="isLoggedIn">
      <div class="col">
        <fieldset [disabled]="commentAdding">
          <p>Sage deine Meinung:</p>
          <div>
            <textarea class="input-group-addon" style="text-align:left;width:100%;margin-bottom:10px;" placeholder="Kommentar abgeben ..." [(ngModel)]="newCommentText"></textarea>
          </div>
          <div>
            <input class="btn btn-outline-primary" type="button" value="Kommentar hinzufügen" (click)="saveNewComment(newCommentText)">
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row mt-3" *ngIf="!isLoggedIn">
        <div class="col">
          <p>Für 1 neu Kommentar muscht dich anmelden!</p>
        </div>
    </div>
    <hr class="_ngcontent-c2">
    <div class="row mt-3">
      <div class="col">
        <div *ngIf="commentsLoading == true">
          <p>Lade Kommentare ...</p>
        </div>
        <div *ngIf="commentsLoading == false">
          <div *ngIf="comments.length == 0">
            <p>Keine Kommentare</p>
          </div>
          <div *ngIf="comments.length > 0">
            <ul class="comments">
              <li *ngFor="let c of comments" class="card">
                <div class="commentDeletion" *ngIf="(isLoggedIn && (authService.currentUser) && (c.user.id == authService.currentUser.id))">
                  <div (click)="deleteComment(c)">X</div>
                </div>
                <p>{{c.text}}</p>
                <p class="small">geschrieben von {{c.user.id}}  - ( registriert seit {{c.user.creationDate | date:'mediumDate'}} )</p>
                <p class="small">{{c.creationDate | date:'medium'}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 💩 Alexander Krieg -->
  </div>
</div>