<div class="container">
  <div class="row">
    <div class="col">

      <img class="rounded" src="{{currentRecipe.image}}">

      <h1>{{currentRecipe.name}}</h1>

      <hr>

      <h3>Zutaten</h3>
      <div class="input-group col-5">
        <span class="input-group-addon">für</span>
        <input class="form-control" #personCount (keyup)="0" (change)="0" type="number" value="4" min="1">
        <span class="input-group-addon">Personen</span>
      </div>

      <table class="table">
        <tr>
          <th class="text-right">Menge</th>
          <th>Zutat</th>
        </tr>
        <tr *ngFor="let i of currentRecipe.ingredients">
          <td class="text-right">{{i.amountPerPerson * personCount.value}} {{i.unit}}</td>
          <td>{{i.name}}</td>
        </tr>
      </table>

      <hr>

      <h3>Zubereitung</h3>
      {{currentRecipe.instructions}}
    </div>
    <div class="col">
      <div>
        <span>von {{currentRecipe.creatorName}}</span>
      </div>
      <div>
        <span class="badge badge-pill badge-primary mr-1" *ngFor="let tag of currentRecipe.tags">{{tag}}</span>
      </div>
      <div>
        <div class="d-inline" *ngFor="let i of range(1, currentRecipe.rating)">
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="d-inline" *ngFor="let i of range(currentRecipe.rating, 4)">
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <span class="d-inline ml-2">{{currentRecipe.rating}} ({{currentRecipe.ratingCount}})</span>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h3>Kommentare</h3>
      <p>TODO: implementieren</p>
    </div>
  </div>
</div>
