body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

h1,
h2,
h3,
a,
p {
    font-family: 'Raleway';
    color: #cccccc;
    font-weight: 300;
}

h2,
h3 {
    color: #484848;
}

.group {
    display: inline-block;
    position: relative;
    margin-bottom: 45px;
    width: 500px;
}

input {
    font-size: 18px;
    padding: 20px 10px 10px 5px;
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
    border-bottom: 1px solid transparent;
}

label {
    color: #999;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 18px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.modal-body .form-group label {
    position: relative;
    top: 0em;
}

input:focus~label,
input:valid~label {
    top: -15px;
    font-size: 14px;
    color: #ff2a00;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ff2a00;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.background {
    height: 600px;
    align-content: center;
    background-attachment: fixed;
    background-image: url('/assets/home/background.jpg');
    width: 100%;
    background-size: cover;
    background-position-y: -170px;
    overflow-y: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.search {
    position: absolute;
    top: 180px;
    width: 100%;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.search h1 {
    text-align: center;
    color: white;
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: 600;
}

.search p {
    text-align: center;
    font-size: 22px;
    margin-bottom: 75px;
}

.search input, .search input:focus {
    height: 50px;
    color: #e0e0e0;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 0px;
}

.search span span {
    height: 26px;
    margin-top: 10px;
}

.container button {
    margin-top: -35px;
    background: white;
    color: #ff2a00;
    border-color: #ff2a00;
    padding: 10px 50px;
    margin-right: 50px;
}

.container button:hover {
    background: #ff2a00;
    color: white;
    border: none;
}

.center{
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 575px) {  /* For mobile  */
    .background {
        height: 500px;
        background-position-y: -150px;
        background-position-x: -170px;
    }
    .search {
        top: 140px;
    }
}

.loader {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    position: absolute;
    border: 4px solid #ff2a00;
    animation: loader 2s infinite ease;
  }

  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #ff2a00;
    animation: loader-inner 2s infinite ease-in;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loader-inner {
    0% {
      height: 0%;
    }

    25% {
      height: 0%;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0%;
    }
  }
